.containercommunity {
    padding:163px 0 0 0;
}

.encabezadocomun1txt2 {
    &-2 {
        border-bottom: 3px solid #00DDA3;
    }

}
.redondeo-txt-comunnity {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 10px 20px;

}
.grafico1 {
    text-align: center;
    margin-top: 20px;
}
.grafico2 {
    
    margin-top: 20px;
}