.containerchallenges {
   padding:150px 0 195px 0;
}

.carr {
   text-align: center
   ;
}
.encabezadocomun1com  {
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   color: #EDEDED;
   text-align: left;
   margin-bottom: 30px;

   }