
.tarjeta {
text-align: center;

    &-input {

        &-txt {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            letter-spacing: -0.41px;
            color: white;
            text-align: left;
            margin-left: 30px;
            margin-bottom: 10px;

            &-1 {
                background: #FFFFFF;
                border: none;
                box-sizing: border-box;
                border-radius: 8px;   
                width: 372px;
                height: 45px; 
                margin-bottom: 20px;
                font-size: 22px;
              
            }
            &-2 {
                background: #FFFFFF;
                border: none;
                box-sizing: border-box;
                border-radius: 8px;   
                width: 372px;
                height: 45px;   
                margin-bottom: 20px;   
                font-size: 22px; 
            }
            
        }
        
    
        &-div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            &-3 {
                background: #FFFFFF;
                border: none;
                box-sizing: border-box;
                border-radius: 8px;   
                width: 160px;
                height: 45px; 
                margin-bottom: 20px;    
                font-size: 22px;   
            }
            &-4 {
                background: #FFFFFF;
                border: none;
                box-sizing: border-box;
                border-radius: 8px;   
                width: 160px;
                height: 45px;     
                margin-bottom: 20px; 
                font-size: 22px;  
            }
        &-txt {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            letter-spacing: -0.41px;
            color: white;
            text-align: left;
            margin-left: 11px;
            margin-bottom: 10px;
        }
            
        }
    }
       
    }
