.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $blue#{'0e'};
    ul {
      display: flex;
      justify-content: space-between;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: $white;
        &:hover {
          background-color: $blue;
        }
        img {
          width: 30px;
          filter: invert(100%);
        }
      }
    }
  }
  