.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #44505E;
    border-top-left-radius: 8px;
    border-top-right-radius: 10px;
    height: 85px;
    ul {
      display: flex;
      justify-content: space-between;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        text-decoration: none;
        text-align: center;
        a {
          color: white;
       
        }
    
        img {
          width: 40px;
          position: relative;
          filter: brightness(0) invert(1);
        }
      }
    }
  }
  .filtered {
    filter: hue-rotate(-180deg);
  }
  .footeractivate {
    color: #00DDA3 !important;
    img {
      filter: brightness(1) invert(0) !important;
    }
   } 
  