.containerencandonation {
    padding: 242px 0 195px 0;
    & .encabezadoperfil {
        position: fixed;
        top: 0;
    }
}
.usuarioluzones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}
.encabezadoperfil {
    text-align: center;
    background: #1F3044;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    &-1 {
        margin-bottom: 10px;
        text-align: right;
        margin-right: 20px;
        &-ruedecita {
            text-align: right;
        }
    }
    &-img {
        width: 60px;
    }
    &-2 {
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    padding-bottom: 13px;

    }
        &-txt-1 {
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            color: #FFFFFF;   
            margin-bottom: 13px; 
            text-align:left; 
        }
    &-3 {
        
        display: flex;
        width:245px;
        justify-content: space-between;
        
            &-3_1 {
                display: flex;
                align-items: center;
               
                     }
    }
        &-txt-2 {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            color: #00DDA3;
            margin-top: 10px;
            margin-right: 27px;
            margin-left: 11px;
        }
        &-txt-02 {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: #00DDA3; 
            
    }
}
.fotoysaludo {
    display: flex;
    flex-direction: row;
}
    .carrusel {
        text-align: center;
        &-1 {
            width: 355px;
            margin-top: 20px;
        }
    }
    .insignias {
        text-align: center;
        margin-top: 20px;
        &-1 {
            width: 368px;
            margin-bottom: 20px;
        }
    }
    .txthome {
        text-align: left;
        &-1 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
        margin:20px 0 20px 20px;
    }
}
.configdonaciones {
    display: flex;
    justify-content: space-around;
    &-btn {
        background: transparent;
        border: none;
        outline: none;
        &-1 {
         width: 110px;
        } 
    }
}
.footerhome {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 71px;
    z-index: 10;
    width: 100%;
    &-1 {
        width: 78px;
        border-radius: 50%;
        border-bottom: 4px solid #33404f;
        border-right: 4px solid #33404f;
        border-left: 4px solid #33404f;  
    }
    &-img {
        width: 100%     
}
}
.carruseldiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: #683bb7;
    color: #fff;
    margin: 15px;
    font-size: 4em;
}
.item {
    display: flex;
    justify-content: center;
    height: 110px;
    width: 50%;
    margin: 40px 0 0px 0;
    outline: none;
    box-shadow: none;
    
  }

  button.rec-dot{
    margin-top: 0px;
    background-color: grey;
    height: 6px;
    width: 6px;
    margin-left: 15px;
    margin-bottom: 20px;

 
    
  }
  button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
    box-shadow: 0 0 0px 3px white;
    outline: none;
    margin-left: 15px;
    margin-bottom: 20px;
  }

//  .rec.rec-arrow {
//     background:transparent !important;
// }
// .rec.rec-arrow:hover {
//     background-color:transparent !important;
 
// }
.imgpopup {
    width: 360px;
}
.cJeRRR {
  
    box-shadow: 0 0 1px 3px rgb(255 255 255) !important;
    outline: none !important;
   
}
    