.containerencandonation {
    padding: 242px 0 0 0;
    & .encabezadoperfil {
        position: fixed;
        top: 0;
    }
}
.encabezadoperfil {
    text-align: center;
    background: #1F3044;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 20px;
    &-1 {
        margin-bottom: 10px;
        text-align: right;
        margin-right: 20px;
        &-ruedecita {
            text-align: right;
        }
    }
    &-img {
        width: 60px;
    }
    &-2 {
    display: flex;
    justify-content: space-evenly;

    }
        &-txt-1 {
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            color: #FFFFFF;   
            margin-bottom: 13px;   
        }
    &-3 {
        display: flex; 
        flex-direction: column;
            &-3_1 {
                display: flex;
                flex-direction: row;
                margin-right: 5px; 
                     }
    }
        &-txt-2 {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            color: #00DDA3;
            margin-top: 10px;
            margin-right: 27px;
            margin-left: 11px;
        }
        &-txt-02 {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            color: #00DDA3;
            margin-top: 14px;
            margin-right: 10px;
            margin-left: 19px;
    }
}
.fotoysaludo {
    display: flex;
    flex-direction: row;
}
    .carrusel {
        text-align: center;
        &-1 {
            width: 355px;
            margin-top: 20px;
        }
    }
    .insignias {
        text-align: center;
        margin-top: 20px;
        &-1 {
            width: 368px;
            margin-top: -6px;
            margin-bottom: 15px;
        }
    }
    .txthome {
        text-align: left;
        &-1 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
        margin:20px 0 20px 20px;
    }
}
.configdonaciones {
    display: flex;
    justify-content: space-around;
    &-btn {
        background: transparent;
        border: none;
        outline: none;
        &-1 {
         width: 110px;
        } 
    }
}
.footerhome {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 71px;
    z-index: 10;
    width: 100%;
    &-1 {
        width: 78px;
        border-radius: 50%;
        border-bottom: 4px solid #33404f;
        border-right: 4px solid #33404f;
        border-left: 4px solid #33404f;  
    }
    &-img {
        width: 100%     
}
}
.carruseldiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: #683bb7;
    color: #fff;
    margin: 15px;
    font-size: 4em;
}

.item {
    display: flex;
    justify-content: center;
    height: 110px;
    width: 50%;
    margin: 15px 0 0 0;
    outline: none;
    box-shadow: none;
    
  }
  button.rec-dot{
    margin-top: 0px;
    background-color: grey;
    height: 6px;
    width: 6px;
    margin-left: 15px;
 
    
  }
  button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
    box-shadow: 0 0 0px 3px white;
    outline: none;
    margin-left: 15px;
  }

 .rec.rec-arrow {
    background:transparent !important;
}
.rec.rec-arrow:hover {
    background-color:transparent !important;
 
}

      
      
    