.containerluzonews {
    padding:144px 0 170px 0;
}
.encabezadocomun1 {
    background: #1F3044;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.encabezadocomun1com {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #EDEDED;
        text-align: left;
        margin-left: 14px;
        margin-bottom: 30px;
   
}
.encabezadocomun1txt2 {
    display: flex;
    justify-content: space-around;

    &-2 {

        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 20px;
        text-decoration: #00DDA3;
      
        }
}
.noticias {
    margin-top: 20px;
    text-align: center;
}