.encabezadocomun1 {
    text-align: center;
    background: #1F3044;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
        &-wifi {
            text-align: center;
          
        }
        &-img-1  {

            text-align: center;
            width: 178px;
       }
       &-btn{
        display: flex;
        justify-content: center;

       }
          
        

}