.encabezadoperfil {
    text-align: center;
    background: #1F3044;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    

    &-1 {
        margin-bottom: 10px;
        text-align: right;
        margin-right: 20px;
    
      
    }
    &-img {

        width: 60px;
    }

    &-2 {
    display: flex;
  

    }
        &-txt-1 {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            color: #FFFFFF;   
            margin-bottom: 13px;  
            text-align:left; 
            
        }
    &-3 {
        display: flex; 
      

            &-3_1 {
                display: flex;
               
                     }

    }
        &-txt-2 {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            color: #00DDA3;
            margin-top: 13px;
            margin-right: 10px;
            margin-left: 10px;
        }
        &-txt-3 {
            margin-left: 11px;
            margin-top: 8px;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
        }
    &-barra {
    display: flex;
    justify-content: center;
    margin-right: 111px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
  
        }

    }
.desgravacion {
        text-align: center;
        margin-top: 20px;
    }
.donaciones-txt {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
        margin: 20px 0 20px 20px;
    }
.grafico {
        text-align: center;
    
    }
.calendario {
        text-align: center;
    }
.movimientos {
        text-align: center; 
    }
.MuiIconButton-label {

    color:#00DDA3;
} 
.modalbtn2 {
    top:50%,;
    padding:4px 0px 0px 20px;
    background: #1F3044;
    border: none;
    outline: none;
}
.encabezadocomun1txt {
    display: flex;
    justify-content: left;
    margin-left: 14px;
 
    &-01{

        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #EDEDED;
        margin-right: 175px;
      
    }
}
.encabezadoperfil-01 {
    margin-bottom: 10px;
}
