.encabezado {
    text-align: center;
    padding-top: 68px;
    background: #1F3044;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;

        &-txt-1 {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: #FFFFFF;
            margin-left: 10px;     
        }
    }
      
.screen {

        &-txt-1 {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            color: #FFFFFF;
        }








    }











