.encabezado {
    text-align: center;
    background: #1F3044;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    &-wifi {
            text-align: center;
            padding-bottom: 30px;
    }
    &-txt {
        text-align: center;
        margin-top: 60px;

    }

    &-2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }   
        &-txt-1 {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            color: #FFFFFF;
            margin-right: 18px;
            margin-bottom: 20px;
            margin-left: 21px;
           
            
        }
    }
.screen1 {
    display: flex;
    flex-direction: column;
    
}
.screen2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
    & .cuadradogr:first-child img {
        margin-bottom: 27px;
    }

    &-btnrgr {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #33404F;
        width: 28%;
        height:92px;
        background: #FFFFFF;
        box-shadow: 0px 0px 50px rgba(51, 64, 79, 0.15);
        border-radius: 5px;
        border: none;  
    }   
}
.screen-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.screen-btnrect {
    text-align: center;
}
.txt {
    display: flex;
    margin-right: 20px;

      
    &-1 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        margin:20px 199px 20px 20px;
    }
    &-2 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        margin:40px 20px 20px 20px;
    }
    &-3 {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #FFFFFF;
        margin-bottom: 15px;
    
    }
   
}
.screen-btnrect {
    text-align: center;
}
.transferencia {
    text-align: center;
}
.btn-ovalado {
    text-align: center;
}








    











