.containerpayment {
    padding:112px 0 0 0;
}
.encabezadocomun-txt {
   margin-left: 135px;
}
.tarjeta {

    text-align: center;

    &-input {
        display: flex;
        background: #FFFFFF;
        border: none;
        border-radius: 8px;
        font-size: 22px;
        width: 377px;
        margin-left: 19px;
        margin-right: 10px;
        margin-bottom: 15px;
     
            &-mastercard    {
                width: 36px;
                margin-right: 17px;
            } 

        &-txt {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: -0.41px;
            color: white;
            margin-bottom: 10px;
            text-align: left;
            margin-left: 23px;
            &-tarj {
                margin-left: 5px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                letter-spacing: -0.41px;
                color: white;
                margin-bottom: 10px;
                text-align: left;
            }

            &-1 {
                background: #FFFFFF;
                border: none;
                box-sizing: border-box;
                border-radius: 8px;   
                width: 372px;
                height: 28px; 
                margin-bottom: 20px;
                font-size: 22px;
                padding-top: 12px;
                &::placeholder {
                    text-align: left;
                    color:#1F3044;
                    padding-left: 10px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                  }
              
            }
        
       
            &-2 {
                background: #FFFFFF;
                border: none;
                box-sizing: border-box;
                border-radius: 8px;   
                width: 180px;
                height: 45px;   
                margin-bottom: 20px;   
                &::placeholder {
                    text-align: left;
                    color:#1F3044;
                    padding-left: 10px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    
                  }
               
            }
        
            
        }
          
    }
       
}
.div {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 119px;
   
    
    &-1 {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: -0.41px;
        color: white;
        text-align: left;
        margin-bottom: 10px;

        &-p{
            margin-bottom: 10px;
          

        }
        &-in {
            background: #FFFFFF;
            border: none;
            box-sizing: border-box;
            border-radius: 8px;
            width: 78px;
            height: 45px;
           
          
        }
        ::placeholder {
            text-align: left;
            color:#1F3044;
            padding-left: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
          }
       
    }
    &-2 {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: -0.41px;
        color: white;
        text-align: left;
        margin-bottom: 10px;

        &-p{

            margin-bottom: 10px;
            margin-left: 7px;
        }
        &-in {
            background: #FFFFFF;
            border: none;
            box-sizing: border-box;
            border-radius: 8px;
            width: 78px;
            height: 45px;
          
          
        }
         
        ::placeholder {
            text-align: left;
            color:#1F3044;
            padding-left: 10px;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
        }
    }

}
.encabezado-txt-tarjeta{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
 }
.botongr {
   
    width: 200px;

    
    }
.txt-tarjeta {
   text-align: left;
   margin-left: 20px;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   color: white;
   margin-top: 40px;
  
   &-1 {
    margin-top: 28px;
    text-align: left;
   margin-left: 20px;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   color: white;
   margin-bottom: 20px;
   }
}

