.containerporcentaje {
    padding: 158px 0 108px 0;
}
.porcentaje {

    &-txt {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        margin: 0 0 20px 25px;

        &-2 {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            margin-left: 20px;
            color: #FFFFFF;
            opacity: 0.5;
            text-align: center;
        }
    }       
  }
.porcentaje-btnmed {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 28px;
}
.porcentaje-btnrect {
    text-align: center;
    margin-bottom: 20px;
}

.btnguardar {
    text-align: center;

}
.btndesactivar {
    border: none;
    background: transparent;
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: white;
    outline: none;
}
.desplegable {
    margin-bottom: 142px;
    margin-left: 18px;
  
    
}