.containerperiodica {
    padding: 140px 0 0 0;
}

.periodica {
    padding-left: 16px;
    background: white;
    margin: 20px 70px 20px 84px;
    border-radius: 8px;
    box-shadow: 0px 0px 50px rgb(51 64 79 / 15%);
    padding-top: 4px 15px 4px 15px;

    &-input {
        border: none;
        font-size: 25px;
        text-align: center;
        height: 45px;
        width: 184px;
        font-weight: 500;
    }
    &-txt {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
        margin: 0 20px 25px;

        &-2 {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.5;
            margin-left: 20px;
        }
    }  
    &-btnmed {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 28px;
    }
    &-btnrect {
        text-align: center;
        margin-bottom: 20px;
    }

  }
  .btndesactivar {
    border: none;
    background: transparent;
    margin-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: white;
    outline: none;
}
  .desplegable2 {
    margin-bottom: 176px;
    margin-left: 18px;
    
   
}


